#content-wrapper {
    position: relative;
    width: 1000px;
    margin:0 auto;
}

html,body {
    background-color: rgb(35, 42, 58);
    }

#content-wrapper-video {
    position: absolute;
    z-index: 10;
    left: 100px;
    top: 800px;
}

h2 {
    font-family: Righteous 
}

img {
    display: block;
    margin:0 auto;
}

#title_graphic {
    position: absolute;
    z-index: 100;
    left: 1230px;
    top: 900px;
}  


